.container {
  height: 100vh;
  width: 100vw;

  padding-left: 18px;
  padding-top: 30px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}

.logoContainer {
   margin-bottom: 30px;
}

.logo {
  width: 130px;
  margin: 5px;
}

.logoText {
  width: 285px;
  display: block;
}

.menuPrincipal {
  margin-top: 20px;
}

.menuSecundario {
  margin-top: 15px;
}