.item {
  color: white;

  font-size: 4.8rem;

  font-weight: 700;

  font-style: italic;

  letter-spacing: 2px;

  margin: 14px;

  line-height: 0.7;

  cursor: pointer;

  text-transform: uppercase;

  transition: 0.3s;

  text-shadow: 2px 2px 8px black;

}

.item:hover {
  transform: translateX(20px) scale(1.02);
}

